body {
  margin: 0;
  padding: 0;
}

/* quill container styles */

.ql-container {
  height: 200vh;
}

/* quill toolbar styles */
.ql-toolbar {
  position: sticky;
  top: 0;
}

.header-container {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
